/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #fff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* Splash */

.splash {
    height: 100vh;
    position: relative;
    background-image: url(https://i.postimg.cc/g07nZ4LL/pexels-matt-hatchett-2749495.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.splash ul {
    list-style-type: none;
    color: #fff;
    text-align: right;
    margin: 12px 0 12px 0;
    padding: 0 24px;
}

.splash li {
    display: inline-block;
    position: relative;
    color: #fff;
    text-align: right;
    margin: 12px 0 12px 0;
    padding: 0 24px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-title {
    font-family: 'Open Sans', sans-serif;
    color: rgb(240, 198, 11);
    font-weight: bold;
    margin: 12px;
    padding: 24px;
    text-align: left;
}

.page-title {
    color: #fff;
    font-size: 60px;
    margin: 12px 0 0 0;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.page-subtitle {
    margin: 12px 0 0 0;
    font-size: 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 12px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(240, 198, 11);
    background-color: rgb(240, 198, 11);
    background-position: 100% 0;
    background-size: 300%;
    transition: all 1s;
}

/* Services */

.services {
    text-align: center;
    margin: 12px 0 12px 0;
    padding: 24px 24px;
}

.services .box-wrapper {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.box {
    flex: 0 0 33.333%;
    margin: 12px 0 12px 0;
    padding: 0px 24px;
}

.services i {
    font-size: 30px;
    background: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: rgb(240, 198, 11);
    border-color: rgb(240, 198, 11);
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
}

/* Portfolio */

.portfolio {
    text-align: center;
    margin: 12px 0 12px 0;
    padding: 24px 24px;
    background-color: lightgrey;
}

.box-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-project {
    background-color: #fff;
    flex: 0 0 33.333%;
}

/*Footer */

.footer ul {
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

.footer li {
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 12px 0 12px 0;
}

.footer i {
    font-size: 30px;
    background: #2c2c54;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: white;
    border-radius: 50%;
}

.footer p {
    text-align: left;
    margin: 12px 0 12px 0;
}
